/************************** COLORS ******************************/
/* #d31f44 - red: menu hover, links, underlines */
/* #1d0e04 - black: menu background  */
/* #3e3e3e - grey: footer  */
/* #9d0121 - red up, contact
/* #d31f44 - red down, contact
/************************** COLORS ******************************/

/************************** FONTS ******************************/
@font-face {
   font-family: "regular";
   src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
   font-family: "bold";
   src: url('../fonts/OpenSans-Bold.ttf');
}
/************************** FONTS ******************************/

/************************** GLOBALS ******************************/
header, main, footer {
   width: 100%;
   margin: 0 auto;
}

.container{
   width: 1200px;
   margin: 0 auto;
   padding: 0;
}

.padding-section{
   padding: 70px 0;
}

h2{
   margin: 0;
   padding: 70px 0 30px 0;
   font-size: 1.875rem;
}

.bordure-red{
   width: 10%;
   border-bottom: 3px solid white;
   border-image: linear-gradient(90deg, rgba(162,3,36,1) 0%, rgba(255,255,255,0) 100%) 1;
}

.bordure-white{
   width: 10%;
   border-bottom: 3px solid white;
   border-image: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%) 1;
}

p{
   margin: 0;
   padding: 0;
}
/************************** GLOBALS ******************************/

.container {
   width: 1200px;
   padding: 3em 0 3em 0;
}

.temoignages_bg {
   width: 100%;
   height: 450px;
   background: url('../images/temoignage-bg.png');
   background-size: cover;
   background-repeat: no-repeat;
   color: white;
   text-align: justify;
}

.contact_bg {
   height: 710px;
   background: #9d0121; /* Old browsers */
   background: -moz-linear-gradient(top, #9d0121 0%, #d31f44 100%); /* FF3.6-15 */
   background: -webkit-linear-gradient(top, #9d0121 0%,#d31f44 100%); /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(to bottom, #9d0121 0%,#d31f44 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9d0121', endColorstr='#d31f44',GradientType=0 ); /* IE6-9 */

}

.temoignages_text {
   color: #c0c0c0;
}

.title {
   color: white;
   text-transform: uppercase;
   font-weight: 500;
   font-size: 22px;
   padding-bottom: 15px;
}

.bottom_line_temoignages {
   width: 10%;
   border-bottom: 3px solid white;
   border-left-width: 0;
   border-right-width: 0;
   border-image: linear-gradient(to right, white, black) 1 stretch;
}

.bottom_line_contact {
   width: 10%;
   border-bottom: 3px solid white;
   border-image: linear-gradient(to right, white, #a20324) 1 stretch;
}

.border-white {
   padding: 0.5em;
}

.container a {
   text-decoration: none;
   color: white;
}

form {
   margin-top: 40px;
}

.contact_text {
   color: white;
}

.form-control::-webkit-input-placeholder {
   color: white;
}

.form-group label {
   color: #fff !important;
   padding-left: 0;
}

.center {
   margin: 0 auto;
}

.form-control {
   background: transparent;
   border-top: transparent;
   border-left: transparent;
   border-right: transparent;
}

.padding-border .form-control {
   padding-left: 0px !important;
   border-radius: 0;
   -webkit-border-radius: 0;
   -moz-border-radius: 0;
   -ms-border-radius: 0;
   -o-border-radius: 0;
}

.button_contact {
   padding: 0.5em 3em;
   border: 1px solid transparent;
   background-color: white;
   color: #d31f44;
}

.footer_id {
   background-color: #3e3e3e;
   color: white;
}

/**** FORMATION ****/
#formation{
   font-size: 0.875rem;
}

.wrap-list-gen p{
   margin-bottom: 30px;
}

.wrap-list-gen .list-formation{
   padding: 0 15px;
}

.wrap-list-gen .list-formation li{
   list-style: none;
}
.wrap-list-gen .list-formation li::before{
   color: #d31f44;
   content: "\2022";
   font-weight: bold;
   display: inline-block;
   width: 1em;
   margin-left: -1em;
}
/********/

/**** ENSEIGNEMENT ****/
#enseignement{
   background: url('../images/bg-enseignement.png');
   font-size: 0.875rem;
}

.wrap-enseignement div{
   margin: 0 15px;
}

.wrap-enseignement div img{
   margin-bottom: 40px;
   font-family: "bold";
}

.wrap-enseignement div img,.p-metier{
   padding: 0 35px;
}

.wrap-enseignement div img,.p-metier::first-line{
   padding: 0 35px;
   font-family: "bold";
}
/********/

/**** METIER ****/
#metier{
   background: #3e3e3e;
   font-size: 0.875rem;
}

.wrap-metier div p{
   padding: 0px 0 40px 0;
}

.wrap-metier .button-metier{
   padding: 15px 55px;
   text-decoration: none;
   border: solid 2px #ffffff;
}

.wrap-metier .button-metier:hover{
   border: solid 2px #d31f44;
}

.item-video iframe{
   width: 600px;
   height: 330px;
   margin: 0 0 0 30px;
}
/********/

/**** CENTRE ****/
#centre{
   font-size: 1.5625rem;
}

.wrap-centre .item-img{
   background: rgb(211, 31, 68);
   cursor: pointer;
}

.wrap-centre .item-img img:hover{
   cursor: pointer;
   opacity: 0.5;
}
/*.wrap-centre .item-img img:hover .item-text{
visibility: visible
}*/

.wrap-centre .item-img{
   margin-bottom: 15px;
   position: relative;
}

.wrap-centre .item-img .item-text{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
/********/
